*{
    padding: 0;
    margin: 0;
}
.layout-header{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    background-color: brown;
    height: 100px;
}
.layout-footer{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    background-color: blue;
    height: 100px;
}